<section class="container">
  <header class="header d-flex">
    <div class="search-note">
      <input
        type="search"
        class="filter"
        placeholder="procurar..."
        autofocus
        [(ngModel)]="filter"
        (keyup)="searchFilter()"
      />
      <img src="/assets/imgs/lupa.png" alt="lupa" />
    </div>
    <h2 class="ff-inter">{{title}}</h2>
    <div class="botoes">
      <button class="botao" (click)="reloadComponent()">Meu Mural</button>
      <button class="botao" (click)="favoritesList()" >Meu Favoritos</button>
      <button routerLink="/create-note" class="botao">Novo bloco</button>
    </div>
  </header>
  <div class="mural" *ngIf="listNotes.length > 0; else noContent">
    <div *ngFor="let item of listNotes">
      <app-note [note]="item" [favoriteList]="favoriteList"></app-note>
    </div>
  </div>
</section>
<app-load-more-btn
  [moreNotes]="moreNotess"
  (click)="loadMoreNotes()"
></app-load-more-btn>

<ng-template #noContent>
  <div class="ff-inter no-Notes">
    <p>Ainda não possui notas criadas!</p>
  </div>
</ng-template>
